// Body content styles 

.content__container {
  @include media-breakpoint-up(md){  
    background-color: $blush;
  }

  ul li {
    margin-bottom: 0.65rem;
  }
}

%copy-container {
  padding: 1em;  
  @include media-breakpoint-up(lg){
    padding: 3em;
    @include make-container();
    @include make-container-max-widths;
  } 
}

.copy-container--light {
  @extend %copy-container;
  background-color: $white;
}

.copy-container--dark {
    @extend %copy-container;
    background-color: $forest-green;
    color: $white;
}

.copy-container--fullwidth {
    @extend %copy-container;
    //padding: 1em 3em;
}

.copy--left {
    padding-right: 2em;
}

.container--featured {
  background-image: url('../images/wolves.JPG');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;

  blockquote {
    font-size: 1.5rem;
    color: $bone;
    font-family: $header-font;
    font-weight: 600;
    margin-left: 50px;
  }
  .feature__quote {
    padding: 1em;
    text-align: center;
  }
  span.attribution {
    @include subtitle-treatment;
    font-size: 1rem;
    font-size: 1rem;
    padding-top: 2em;
    display: inline-block;
  }
}

.schedule__content ul {
  list-style-type: none;
  padding-left: 0;
  padding: 0.5em 0;
}

.schedule__time,
.schedule__description {
 display: inline-block;
}

.schedule__time {
  color: $gold;
  font-family: $bold;
  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.schedule__description {
 font-family: $italic;
}

.row {
 @include media-breakpoint-up(lg){
  margin: 0 15px 0 15px;
 }
}