// Body content styles 

a {
color: $gold;
  &:hover {
    color: $deep-coral;
    text-decoration: underline;
  }
}

.section--dark {
  background-color: $forest-green;
}

.section--light {
  background-color: $white;

}

%copy-container {
  padding: 1em;  
  @include media-breakpoint-up(lg){
    padding: 3em 0 2em 0;
    @include make-container();
    @include make-container-max-widths;
  } 
}

.copy-container--light {
  @extend %copy-container;
  background-color: $white;
}

.copy-container--dark {
    @extend %copy-container;
}

.copy--left {
    padding-right: 2em;
}

.container--featured {
    background-image: url('../images/hawaii.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    @include media-breakpoint-up(xl){
      background-image: url('../images/wolves2.jpg');
    }
    
  blockquote {
    color: $bone;
    font-family: $header-font;
    font-weight: 600;
    font-size: 1.2rem;
    @include media-breakpoint-up(md){
      font-size: 1.5rem;
    }
  }
  .feature__quote {
    padding: 1em;
    text-align: center;
  }
  span.attribution {
    @include subtitle-treatment;
    font-size: 0.9rem;
    padding-top: 1em;
    letter-spacing: 2px;
    display: inline-block;

  }
}

.container--schedule {
 @include constrain-text;
}

.schedule__content ul {
  list-style-type: none;
  padding-left: 0;
  padding: 0.5em 0;
}

.schedule__time,
.schedule__description {
 display: inline-block;
}

.schedule__time {
  color: $gold;
  font-family: $bold;
  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.schedule__description {
 font-family: $italic;
}

.container--tech {
  background-color: $bone;
  padding-top: 1em;
}

section.rsvp {
  text-align: center;
  padding: 2em 0 2em;
  background-color: $sage;
}

#rsvp .btn-primary  {
  background-color: $sage;
  color: $black-coral;
  text-decoration: none;
  border: 1px solid $bone;
 
  a{
    color: $bone;
    letter-spacing: 0;
    font-family: $body-font;
  }
  &:hover {
    background-color: $black-coral;
    border: 1px solid $black-coral;
    a {
      text-decoration: none;
    }
  }
}