header {
  background-image: url('../images/roses.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container{
  background-size: cover;
  position: relative; 
  padding: 5em 0 5em;
}

.hero__content {
  text-align: center;
}

p.subtitle {
  font-family: $subtitle-font;
  color: $eggshell;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin-top: 1em;
}

