@font-face {
    font-family: "PlayfairDisplay";
    font-weight: 400;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
  }
@font-face {
    font-family: "PlayfairDisplayItalic";
    font-weight: 400;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
 } 

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
    font-family: "MulishItalic";
    src: url("../fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}