@font-face {
    font-family: "PlayfairDisplay";
    font-weight: 400;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
  }
@font-face {
    font-family: "PlayfairDisplayItalic";
    font-weight: 400;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
 } 

 @font-face {
  font-family: "PlayfairDisplaySemiBold";
  font-weight: 600;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf") format("truetype");
} 

@font-face {
  font-family: "PlayfairDisplayBlack";
  font-weight: 900;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format("truetype");
} 

@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "MontserratLightItalic";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 600;
}