//------------
// Text styles
//------------
html {
  font-size: 18px;
}

h1{
  font-family: $header-font;
  color: $headline-color;
  font-size: 4rem;
  border-bottom: 1px solid $headline-color;
  padding-bottom: 0.3em;
  @include media-breakpoint-up(md){
    font-size: 6rem;
  }
}

h2 {
  font-family: $header-font;
  color: $header-color;
  margin: 1rem 0 1.5rem;
  font-size: 1.75rem;
  @include media-breakpoint-up(lg){
    margin: 0 0 1.25rem;
  }
}

p, ul li {
  font-family: $body-font;
  color: $body-color;
  font-size: 0.889rem;
  line-height: 1.49rem;
  margin-bottom: 1em;
  @include media-breakpoint-up(lg){
    font-size: 1rem;
    line-height: 1.6rem;
  }
  
  &.caption {
    font-family: $caption-font;
    color: $caption-color;
    font-size: 0.75rem;
    margin: 0.5em 0 2em 0;
    line-height: 1.2rem;
    @include media-breakpoint-up(md){
      font-size: 0.9rem;
    }
  }
  .section--dark & {
    color: $body-color-dark;
  }
}

.section--dark ul li {
  color: $body-color-dark;
}

strong {
  font-family: $bold;
  font-weight: 600;
  // color: $gold;
}