//Text styles

$header-font: 'PlayfairDisplaySemiBold', Georgia, serif;
$subtitle-font: 'MontserratLight', Georgia, serif;
$body-font: 'Montserrat', Helvetica, sans-serif;
$caption-font: 'PlayfairDisplayItalic', Helvetica, sans-serif;

$bold: 'MontserratBold', Helvetica, sans-serif;
$italic: 'PlayfairDisplayItalic', Helvetica, sans-serif;

//Colors
$eggshell: #FAF3DD;
$light-green: #C8D5B9;
$black-coral: #696D7D;
$asparagus: #87A366;
$gold: #CE9C3C;
$white: #FFF;
$near-black: #26272C;
$forest-green: #4b553a;
$sage: #c3c6b1;
$blush: #eec9b7;
$bone: #efe9db;
$nude: #dba686;
$deep-coral: #d68162;

$headline-color: $bone;
$body-color: $near-black;
$body-color-dark: $bone;
$header-color: $deep-coral;
$caption-color: $gold;
